[Desktop Entry]
Encoding=UTF-8
Name=System Keyboard
Comment=Configure System Keyboard
Exec=su-to-root -X -c system-keyboard-mx
Type=Application
Icon=system-keyboard-mx
Path=
Terminal=false
NoDisplay=false
OnlyShowIn=XFCE;
StartupNotify=false
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;MX-Setup;
