[Desktop Entry]
Encoding=UTF-8
Name=System Locales
Name[ar]=System Locales
Name[ca]=System Locales
Name[cs]=System Locales
Name[da]=System Locales
Name[de]=System Locales
Name[es]=System Locales
Name[eu]=System Locales
Name[fi]=System Locales
Name[fr]=System Locales
Name[gl]=System Locales
Name[hu]=System Locales
Name[it]=System Locales
Name[ja]=System Locales
Name[ko]=System Locales
Name[lt]=System Locales
Name[ml]=System Locales
Name[nb]=System Locales
Name[nl]=System Locales
Name[no]=System Locales
Name[pl]=System Locales
Name[pt]=System Locales
Name[pt_br]=System Locales
Name[ro]=System Locales
Name[ru]=System Locales
Name[sk]=System Locales
Name[sv]=System Locales
Name[ta]=System Locales
Name[tr]=System Locales
Name[vi]=System Locales
Name[zh_cn]=System Locales
Comment=Default locale for the system environment
Comment[ar]=لمحلية الافتراضية لبيئة النظام
Comment[ca]=Locale predeterminat del sistema
Comment[cs]=Výchozí locale pro tento systém
Comment[da]=Standardlokalitet til systemmiljøet
Comment[de]=Standard-Standorteinstellung für die Systemumgebung
Comment[es]=Configuración regional predeterminada para el entorno del sistema
Comment[eu]=Sistema inguruneko lokal lehenetsia
Comment[fi]=Järjestelmän oletusmaa-asetus
Comment[fr]=Jeu de paramètres régionaux actif par défaut 
Comment[gl]=Configuración local por defecto para o ambiente
Comment[hu]=A rendszer alap nyelvi beállítása
Comment[it]=«Locale» predefinito sul sistema
Comment[ja]=システムの環境変数として設定するデフォルトロケール
Comment[ko]=시스템 환경의 기본 로케일
Comment[lt]=Sistemos lokalė pagal nutylėjimą
Comment[ml]=സിസ്റ്റം പരിസരത്തിനു വേണ്ടിയുളള സഹജമായ ലൊക്കേല്‍
Comment[nb]=Standardlokale for systemmiljøet
Comment[nl]=Standaardlokalisatie voor dit systeem
Comment[no]=Standardlokale for systemmiljøet
Comment[pl]=Proszę wybrać domyślne ustawienia lokalne do swojego systemu
Comment[pt]=Locale predefinido o ambiente do sistema
Comment[pt_br]=Locale padrão para o ambiente do sistema
Comment[ro]=Locale implicite pentru sistem
Comment[ru]=Локаль по умолчанию в системном окружении
Comment[sk]=Štandarné locale systémového prostredia
Comment[sv]=Välj lokalanpassning som ska vara standard i systemet
Comment[ta]=கணினி சூழலுக்கு முன்னிருப்பு உள்ளார்ந்த இடம்
Comment[tr]=Sistem ortamında kullanılacak öntanımlı yerel
Comment[vi]=Miền địa phương mặc định cho môi trường hệ thống
Comment[zh_cn]=哪个将作为系统环境默认的区域设置(locale)？
Exec=su-to-root -X -c system-locales-mx
Type=Application
Icon=preferences-desktop-locale
Path=
Terminal=false
NoDisplay=false
OnlyShowIn=XFCE;
StartupNotify=false
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;MX-Setup
