[Desktop Entry]
Version=1.0
Type=Application
Name=Quick System Info
Name[am]=በፍጥነት ስርአት መረጃ
Name[ca]=Informació ràpida del Sistema
Name[cs]=Quick System Info
Name[de]=Quick System Info
Name[el]=Συνοπτικές πληροφορίες συστήματος
Name[es]=Rápida Información del Sistema
Name[fi]=Quick System Info
Name[fr]=Informations systèmes
Name[hi]=Quick System Info
Name[hr]=Quick System Info
Name[hu]=Gyors rendszerinformáció
Name[it]=Veloce Info di Sistema
Name[ja]=Quick System Info
Name[kk]=Quick System Info
Name[lt]=Quick System Info
Name[nl]=Snelle Systeeminformatie
Name[pl]=Quick System Info
Name[pt]=Informação do Computador
Name[pt_BR]=Quick System Info
Name[ro]=Quick System Info
Name[ru]=Quick System Info
Name[sk]=Quick System Info
Name[sv]=Snabb Systeminformation
Name[tr]=Quick System Info
Name[uk]=Quick System Info
Name[zh_TW]=快速顯示系統資訊
Comment=inxi -F
Exec=x-terminal-emulator -e bash -c "/usr/bin/quick-system-info-mx"
Icon=computer
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Utilities
Name[en_US.UTF-8]=Quick System Info
