[Desktop Entry]
Version=1.0
Type=Application
Name=Quick System Info
Name[am]=በፍጥነት ስርአት መረጃ
Name[ca]=Informació ràpida del Sistema
Name[de]=Quick System Info
Name[el]=Συνοπτικές πληροφορίες συστήματος
Name[es]=Rápida Información del Sistema
Name[fr]=Informations systèmes
Name[hu]=Gyors rendszerinformáció
Name[nl]=Snelle Systeeminformatie
Name[sv]=Snabb Systeminformation
Comment=inxi -F
Exec=x-terminal-emulator -e bash -c "/usr/bin/quick-system-info-mx"
Icon=computer
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Utilities
Name[en_US.UTF-8]=Quick System Info
